@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Corben:regular,700);

/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

p {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

/* Reset and base styles */

.title {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

body {
    font-family: Inter, sans-serif;
    font-size: 16px;
    position: relative;
}

header {
    position: relative;
}

header nav a:hover {
    color: blue;
    transition: all 0.3s;
}


.container {
    width: 1700px;
    margin: 0 auto;
}

header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .menu ul {
    width: 888px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
}


header .container::after {
    content: "";

    position: absolute;
    width: 100%;
    background-color: black;
    height: 7px;
    left: 0;
}